<div>
    <table border="1" align="center" width="60%">
        <tbody>
            <tr ><td align="left" style="width: 20%;">WEB Server hostname:</td><td align="left">{{ .WebHostname }} </td></tr>
            <tr ><td align="left" style="width: 20%;">API Server hostname:</td><td align="left"> {{ .HostEnv.ApiHostname }}  </td></tr>
        </tbody>
    </table>
</div>
<table border="1" align="center" width="100%">
    <caption>{{ .Caption }}</caption>

    <tbody>
        {{range $key, $value := .HostEnv.Environment }} 
            <tr><td align="left">{{ $key }}</td> <td align="left">{{ $value }}</td></tr> 
        {{end}}
    </tbody>
</table>